<%- include('layout/head', { title: title }) %>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <div id="app">
    <h2>{{ message }}</h2>
    <button type="button" @click="count++">Count is: {{ count }}</button>
  </div>
</body>
<%- include('layout/footer') %>
<script type="module" src="/js/page/index.js"></script>
</html>
