<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%# Reference: https://me-sinyi.medium.com/browser-safari-mobile-%E6%95%B8%E5%AD%97css%E6%A8%A3%E5%BC%8F-81527bb5d438 %>
  <meta name="format-detection" content="telephone=no">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>